img {
	width: 2rem;
	height: 2rem;
}

.general-form {
	border-radius: 1rem;
	padding: 12px 24px;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}

.general-form h2 {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: 1.5rem;
	font-weight: 700;
	cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 600;
}

input {
	border-radius: 0.6rem;
	padding: 0.7rem 0.9rem;
}

button {
	align-self: flex-end;
	padding: 10px 24px;
	font-weight: bold;
	cursor: pointer;
}

form > div {
  display: flex;
  gap: 1rem;
}

/* Resume style */

.resume {
	margin: 2rem auto;
	box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12); 
}

.resume-header {
	text-align: center;
	padding: 2rem;
	background-color: #2d4262;
	color: white;
}

.resume-header span > img {
	filter: invert(100%);
}

