* {
  padding: 0;
	margin: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 16px 128px;
  max-width: 1600px;
}

body {
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.form {
  display: flex;
	flex-direction: column;
	gap: 1.5rem;
	margin: 2.5rem auto;
}

.resume {
	max-width: 700px;
}